.card {
    min-height: 150px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(45deg, rgb(250, 249, 255), #fff);
    display: flex;
    flex-direction: column;
    padding: 3px;
    justify-content:center;
    min-width: 150px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    min-width: 100px;
}

.card:hover{
    background-image: linear-gradient(45deg, rgb(255, 255, 255), #fff);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.35);
    transform: translateY(2px);
}

.currency{
    width: 100%;
}

.currencyText{
    margin: 0;
    background: #E4F1FE;
    display: inline-block;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 3px;
    color: #2889E7;
    font-size: 12px;
}

.mainBalance{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBalanceText{
    font-size: 40px;
}

.type{
    display: flex;
    justify-content: center;
}

.typeText{
    background: #E4F1FE;
    padding: 0px 10px;
    border-radius: 25px;
    color: #2889E7;
    margin: 0;
    display: flex;
    line-height: 2em;
    
}

.maxBalance{
    display: flex;
    justify-content: center;
}



@media (max-width:1510px){
    .typeText{
        font-size: 14px;
    }
}

@media (max-width:1375px){
    .typeText{
        font-size: 12px;
    }
}

/* @media (max-width:600px){
    .card{
        min-width: 115px;
    }
} */

/* @media (max-width:470px){
    .card{
        min-width: 100px;
    }
} */


@media (max-width:420px){
    .typeText{
        font-size: 10px;
    }
    .card{
        min-height: auto;
    }
    .mainBalanceText{
        font-size: 24px;
    }
}